<body>
    <app-header></app-header>
    <!-- Section-->
    <section class="py-5">
      <div class="container px-4 px-lg-5 mt-5">
        <h2>Les catégories de jeux</h2><hr>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div *ngFor="let item of AllCategories" class="col mb-5">
            <div class="card h-100">
              <!-- Pari image-->
              <img
                class="card-img-top"
                src="../../assets/img/{{item.ImageCategorie}}"
                alt="..."
              />
              <!-- Pari details-->
              <div class="card-body p-4">
                <div class="text-center">
                  <!-- Pari name-->
                  <h5 class="fw-bolder">{{item.NomCategorie}}</h5>
                  <!-- Pari Date-->
                  
                </div>
              </div>
              <!-- Product actions-->
              <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center">
                  <a class="btn btn-outline-dark mt-auto btn_esg" href="#">
                      Voir Details
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </body>
  